*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

html{
    height: 100%;
    width:100%;
}

body{
    background-color: dimgrey;
    height: 100%;
}
.contenido{
    width: 100%;
    height: 100%;
}

.contenido .header{
    width: 100%;
    height: 10%;
    text-align: center;
    background-clip: rgba(0, 0, 0, 0.1);
    display: inline-flex;
}
.contenido .header .logo{
    height: 100%;
    width: 10%;
}

.contenido .header .logo img{
    height: 100%;
    width: 150px;
    float: left;
    margin-left: 15px;
}

.contenido .header .menu{
    height: 100%;
    text-align: center;
    margin: auto;
}

.contenido .header .menu ul{
    width: 100%;
    height: 105%;
    display: inline-flex;
    list-style: none;
    color: aliceblue;
}

.contenido .header .menu ul li{
    padding: 30px;
    font-size: 17px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;  
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.contenido .header .menu ul li:hover{
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.contenido .header .perfil{
    margin-right: 25px;
    width: 15%;
    height: 105%;
    display: inline-flex;
}

.contenido .header .perfil .info{
    height: 100%;
    width: 100%;
    color: #FFF;
    line-height: 5em;
    display: inline-flex;
}

.contenido .header .perfil .info p{
    width:50%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;  
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.contenido .header .perfil .info p:hover{
    background-color: #ff450d;
    cursor:pointer;
}
.contenido .header .perfil .foto{
    height: 80%;
}
.contenido .header .perfil .foto img{
    width: 80%;
}

.contenido .medio{
    display: inline-flex;
    width: 100%;
    height: 90%;
    background-image: url(../img/background.jpg);
}
.contenido .medio .chat{
    width: 20%;
    height: 100%;
    color: aliceblue;
    background-color: rgba(255, 255, 255, 0.05);
}

.contenido .medio .chat .titulo{
    width: 100%;
    height: 8%;
    background-color: rgba(255, 255, 255, 0.1);
    text-align:center;
}

.contenido .medio .chat .mensajes{
    width: 100%;
    height: 80%;
    overflow:auto;
}

.contenido .medio .chat .texto{
    padding-top: 6%;
    padding-bottom: 6%;
    text-align:center;
}

.contenido .medio .chat .texto .msgbox{
    padding: 8px;
    border: none;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    color:#FFF;
}
.contenido .medio .chat .texto .btnenviar{
    padding: 8px;
    border: none;
    border-radius: 2px;
    background-color: #ff693d;
    color: #FFF;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;  
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.contenido .medio .chat .texto .btnenviar:hover{
    cursor: pointer;
    background-color: #ff3a00;
}
.contenido .medio .main{
    width: 80%;
    height: 100%;
    text-align: center;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.6);
}

.contenido .medio .main .titulo{
    width: 100%;
    height: 10%;
}

.contenido .medio .main .texto{
    width: 100%;
    height: 90%;
}

.btnreg:hover{
    background-color: #ff3a00;
    cursor: pointer;
    color: #FFF;
}


































